# dependencies
/node_modules

# production build
/dist
/build

# local env files
.env
.env.*.local

# misc
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vscode settings
.vscode/

# parcel-bundler cache
.cache

# coverage directory used by testing tools
coverage

# optional: if using Mac/Linux filewatching issues
*.swp

# OS-specific
Thumbs.db
